.btn {
  margin-left: 15px;
}

li {
  list-style: none;
}

.link {
  color: #337AB7;
  text-decoration: none;
}

.rat {
  display: flex;
  align-items: center;
}

.star-rating {
  font-size: 1.3em;
  margin-left: 10px;
  color: goldenrod;
}

img {
  max-width: 250px;
}

#cast {
  margin-bottom: 5px;
}
