.btn {
  margin: 2px;
}

li {
  list-style: none;
}

.link {
  color: #337AB7;
  text-decoration: none;
}

.rat {
  display: flex;
}

#star-rating {
  font-size: 1.2em;
  margin-left: 10px;
  color: goldenrod;
}

img {
  max-width: 250px;
}
