input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

#rating-div {
  margin-top: 15px;
}

.rating-input {
  margin-left: 5px;
}

.radio-label {
  margin-left: 10px;
}

#add-btn {
  margin-top: 10px;
}

#add-input {
  margin-top: 5px;
}

img {
  max-width: 150px;
}
