<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="col-md-7">{{ contact.name }}</h4>
        <div class="row">
          <img
            [src]="contact.imageUrl"
            alt="{{ contact.name }}"
            class="col-md-6"
          />
          <div class="col-md-6">
            <button id="btn" class="btn btn-primary">Edit</button>
            <button id="btn" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
              <h4>Email: {{ contact.email }}</h4>
              <h4>Phone: {{ contact.phone }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
