<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="col-md-7"></h4>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
              <h4>Email:</h4>
              <h4>Phone:</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
