<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>My Movies</h4>
        <div class="row">
          <div class="input-group pull-left pad-left-right col-xs-9">
            <input
              type="text"
              #searchBox
              (keyup)="search(searchBox.value)"
              class="form-control"
              placeholder="Enter a search value">
            <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
          </div>
          <div class="pull-right pad-left-right col-xs-3">
            <button [routerLink]="['new']" class="btn btn-success">New Movie</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <app-movie-item
              *ngFor="let movie of movies | moviesFilter:[term]"
              [movie]="movie"
            ></app-movie-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
