<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="col-md-7">Movies</h4>
        <button [routerLink]="['new']" class="btn btn-success">New Movie</button>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <app-movie-item
              *ngFor="let movie of movies; let i = index"
              [movie]="movie"
              [index]="i"
            ></app-movie-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
